<header>
    <div class="left-side">
        <div class="logo-menu">
            <div class="logo">
                <a [routerLink]="['/']">
                    <img src="/logo.png" alt="MyStreamHistory logo" /></a>
                <a [routerLink]="['/']">MyStreamHistory</a>
            </div>
        </div>
    </div>
    <div class="auth">
        <app-login-component *ngIf="!isLoggedIn"/>
        <div *ngIf="isLoggedIn" class="user-menu">
            <div>Hello, <a [routerLink]="['/profile', twitchId]">{{username}}</a></div>
            <button *ngIf="isAdmin" class="admin-btn" (click)="navigateToAdmin()" title="Admin diagnostics">
                <i class="fa fa-shield"></i>
            </button>
            <button class="settings-btn" (click)="navigateToSettings()" title="Settings">
                <i class="fa fa-gear"></i>
            </button>
        </div>
        <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </div>
</header>
