<div class="small-list-block">
    <div class="small-list-block-header">
        <div class="title">
            <i class="{{fontIcon}}" aria-hidden="true"></i>
            <span>{{ title }}</span>
        </div>
    </div>
    <div class="small-list-block-content">

        @if (isLoadingStreamers){
            <p>Loading...</p>
        }
        @else {
            @for (streamer of streamers; track streamer.TwitchId) {
                <a [routerLink]="['/profile', streamer.TwitchId]">
                    <div class="row">
                        <div class="avatar-nickname">
                            <img src="{{ streamer.LogoUser }}" alt="{{ streamer.DisplayName }} logo">
                            <span>{{ streamer.DisplayName }}</span>
                        </div>
                        <div class="show-btn">
                            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            }
        }

    </div>
</div>
