*.DS_Store
Thumbs.db

bin/
obj/
out/
*.exe
*.dll
*.pdb
*.nuget

logs/
*.log
*.cache
*.tmp

.vscode/
*.suo
*.user
*.dbmdl
*.jfm

.idea/
*.iml

*.vs/
.vsconfig
*.csproj.user

appsettings.Development.json
appsettings.Local.json
secrets.json
.env

docker-compose.override.yml