$orange-color: #ff6600;
$purple-color: #6441a5;
$red-color: #c3000c;
$red-2-color: #ef000e;
$bg-1-color: #0f0e0e;
$bg-2-color: #131313;
$bg-3-color: #161616;
$bg-4-color: #222222;
$text-1-color: #f7f7f7;
$text-2-color: #e7e7e7;
$text-3-color: #bcbcbc;
$text-4-color: #888888;
$text-5-color: #787878;
