<header>
    <div class="left-side">
        <div class="logo-menu">
            <div class="logo">
                <a href="/">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/098fd779-669e-4c6c-a41e-88ec7ece943c-profile_image-300x300.png"
                        alt="logo" /></a>
                <a href="/">MyStreamHistory</a>
            </div>
        </div>
    </div>
    <div class="auth">
        <app-login-component *ngIf="!isLoggedIn"/>
        <div *ngIf="isLoggedIn">Hello, {{username}}</div>
        <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </div>
</header>
